[submodule "contracts/auto-escrow-contracts/lib/chainlink-brownie-contracts"]
  path = contracts/auto-escrow-contracts/lib/chainlink-brownie-contracts
  url  = https://github.com/smartcontractkit/chainlink-brownie-contracts
